[Unit]
Description=graphite-api with finder plugin to use metrictank
 
[Service]
Type=simple
User=graphite
Group=nogroup
EnvironmentFile=/etc/default/graphite-metrictank
ExecStart=/usr/share/python/graphite/bin/graphite_metrictank -p 8080 -l /var/log/graphite/access.log
Restart=always

[Install]
WantedBy=multi-user.target
