[Unit]
Description=graphite-api with finder plugin to use metrictank
 
[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/etc/default/graphite-metrictank
ExecStart=/usr/share/python/graphite/bin/python "/usr/share/python/graphite/bin/gunicorn" "graphite_api.app:app" "-c" "/etc/graphite-metrictank/gunicorn_conf.py"
Restart=always

[Install]
WantedBy=multi-user.target
